*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*
*/debug/*
app/src/main/java/com/jonzhou/mineutils/storage/dao/greendaodemo/db/*
gradle*
._*